<div class="container mt-5">
  <button class="btn btn-success w-100">Cadastrar novo funcionário</button>  
  <div>
    <label class="form-label">Pesquisar</label>
    <input class="form-control" type="text" placeholder="Qual funcionário deseja buscar?" (input)="search($event)">
  </div>
  <table class="table table-hover table-bordered mt-5">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Departamento</th>
            <th>Situação</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (funcionarios.length > 0) {
            @for (funcionario of funcionarios; track $index) {
               <tr>
                    <td>{{funcionario.id}}</td>
                    <td>{{funcionario.nome}}</td>
                    <td>{{funcionario.sobrenome}}</td>
                    <td>{{funcionario.departamento}}</td>
                    <td>{{funcionario.ativo == true ?"Ativo":"Inativo"}}</td>
                    <td>
                        <button class="btn btn-warning mx-2">Editar</button>
                        <button class="btn btn-info mx-2">Detalhes</button>
                        <button class="btn btn-danger mx-2">Excluir</button>
                    </td>
                </tr>

            }
        }
            
    </tbody>
    
</table>

</div>


